[Unit]
Description=Rotate the wallpaper to a new random pick
ConditionEnvironment=XDG_CURRENT_DESKTOP=Hyprland

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart swaybg-wallpaper.service
