[user]
	email = chihin.gordon.shi@gmail.com
	name = chihingordonshi
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
