[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Canva: Visual Suite for Everyone
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=mnnncmnfcndlghkomlbaadoonfnjcadg
Icon=chrome-mnnncmnfcndlghkomlbaadoonfnjcadg-Profile_1
StartupWMClass=crx_mnnncmnfcndlghkomlbaadoonfnjcadg
